
@{
    ViewBag.Title = "Index";
}

<body style="background-color:aliceblue">
    <br />
    <br />
    @*<h2 style="align-content:center;margin-left:38%;font-weight:bold">Welcome!!</h2>*@
    <br />
    <br />
    <div class="jumbotron">
    <div class="row" >
        <div class="col-lg-6">
            <p>Click here to create new Employee record</p>
            <a class="btn-primary btn" style="margin-left:30%" href="/Employee/Create">Create</a>
        </div>
        <div class="col-lg-6">
            <p>Click here to visit Employee records</p>
            <a class="btn-primary btn" style="margin-left:30%" href="/Employee/Details">Details</a>
        </div>    
    </div>
        </div>
    <br />
</body>

